<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
        <link href="{{ asset('admin-template/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('admin-template/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('admin-template/css/templatemo-style.css') }}" rel="stylesheet"/>


    {% endblock %}
</head>
<body>
{% block body %}
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>Visual Admin</h1>
        </header>
        <div class="profile-photo-container">
            <img src="images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <!-- Search box -->
        <form class="templatemo-search-form" role="search">
            <div class="input-group">
                <button type="submit" class="fa fa-search"></button>
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            </div>
        </form>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">
            <ul>
                <li><a href="#" class="active"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
                <li><a href="/dashboard/devices"><i class="fa fa-bar-chart fa-fw"></i>My devices</a></li>
                <li><a href="dashboard/maps"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>
                <li><a href="dashboard/preferences"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
                <li><a href="dashboard/login"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin-template/js/templatemo-script.js') }}"></script>
    <script src="{{ asset('admin-template/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('admin-template/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('https://www.google.com/jsapi') }}"></script>


{% endblock %}
</body>
</html>
